@media (max-width:500px){
  html {
    font-size: 62.5%;
    font-family: sans-serif;
  }
  .icons {
    display: flex;

    justify-content: space-between;
    font-size: 4rem;
  }
  .icons i {
    color: #000;
  }
  .icons i:active {
    color: rgb(0, 255, 0);
  }
  h1{
    font-size: 3.6rem;
  }
  h2{
    color: gray;
    text-align: center;
  }
  .first-comment{
    display: flex;
  }
  .first-comment img{
    width: 6rem;
    border-radius: 50%;
  }
  .comment-box{
    background-color: white;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.452);
    padding: 1rem 2rem;
    border-radius: 2rem 2rem 2rem 0.5rem;
    font-size: 2rem;
    margin-left: 2rem;
  }
  .me-message{
    background-color: rgb(255, 0, 140);
    color: white;
    font-size: 2rem;
    padding: 0.2rem;
    width: 25rem;
    border-radius: 3rem 3rem 0.5rem 3rem;
    margin-top: 3rem;
    margin-left: 10rem;
  }
  .two-box{
    margin-top: 2rem;
    padding: 0.5rem 1rem;
  }
  .three-box{
    margin-top: 3rem;
  }
  .img-message{
    width: 20rem;
    margin-top: 2rem;
    margin-left: 15rem;
  }
}