@media (max-width: 500px) {
  html {
    font-size: 62.5%;
  font-family: sans-serif;
  }
  .icons {
    display: flex;
    
    justify-content: space-between;
    font-size: 4rem;
  }
  .icons i{
    color: #000;
  }
  .icons i:active{
    color: rgb(0, 255, 0);
  }
  .false{
    display: flex;
    justify-content: space-around;
    font-size: 2.4rem;
  }
  .discover{
    color: #e24e59;
  }
  .likes{
    
    /* display: flex; */
    justify-content: space-evenly;
    transform: translateY(-95%);
    text-align: center;
  }
  .likes .far{
    font-size: 4.8rem;
    background-color: greenyellow;
    padding: 1rem;
    border-radius: 50%;
    color: white;
    margin-left: 1rem;
  }
  .likes .fas{
    font-size: 5.6rem;
    background-color: white;
    padding: 2rem;
    border-radius: 50%;
    color: red;
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.301);
  }
  .likes .fal{
    font-size: 4.8rem;
    padding: 1.2rem;
    border-radius: 50%;
    background-color: red;
    color: white;
  }
}
