@media (max-width: 500px) {
  html {
    font-size: 62.5%;
  }
  .icons {
    display: flex;
    
    justify-content: space-between;
    font-size: 4rem;
  }
  .icons i{
    color: #000;
  }
  .icons i:active{
    color: rgb(0, 255, 0);
  }
}
